@model DiscussionForum.Models.Comment

<div class="row">
    <div class="col-md-12">
        <form id="comment-form">
            <div class="form-group mb-3">
                <label for="Content" class="control-label">Your Comment</label>
                <textarea id="Content" class="form-control" rows="3" required></textarea>
                <div class="invalid-feedback">
                    Please enter a comment.
                </div>
            </div>

            <input type="hidden" id="DiscussionId" value="@ViewBag.DiscussionId" />

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </div>
        </form>

        <div id="comments-container" class="mt-4">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}